<!DOCTYPE html>
<html lang="pt-br">

<head>

<title> Filmes- Form</title>
<link rel="stylesheet" href="style.css">
</head>

<body>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden">

        <a href="index.html">Voltar</a>

        <div class="conteiner-form">
            <h2>Criar novo filme</h2>
            
            <div class="input-nome-filme input-group">
                <label>Nome do Filme</label>
                <input type="text" class="input" placeholder="Digite o nome..."/>
            </div>

             <div class="input-ano-filme input-group">
            <label> Ano do filme</label>
            <input type="date" class="input"/>
               </div>

            <div class="input-imagem-filme input-group">
                <label> Imagem do Filme</label>
                <input type="file" name="Imagem" id="Imagem" class="input"/>
            </div>
            <div class="button-enviar">
                <button type="submit" class="enviar-form">Cadastrar</button>
            </div>


        </div> 
    </form>









</body>








</html>